<header class="bg-primary p-4 text-white">
  <h4>Angular</h4>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <p basicCss>      
       
       <strong>Directive without renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!
        
      </p>

      <p appCssRendrer [hover]="'pink'"
                        [default]="'red'">      
       
        <strong>Directive with renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!
         

       </p>

       <img appLazyLoadImage="https://example.com/path-to-your-image.jpg" 
     alt="Lazy Loaded Image" 
     class="lazy-load-img" 
     data-src="https://example.com/path-to-your-image.jpg" 
     loading="lazy" />


     

       <div class="form-group" >
        <input
        appAppLower
        type="text" class="form-control">
       </div>


       <div class="form-group">
        <input 
        appCreditCard
        type="text" name="" id="" placeholder="XXXX XXXX XXXX XXXX">
       </div>

       <p appCssRendrer [hover]="'pink'"
       [default]="'red'">      

<strong>Directive with renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!

</p>
<p appCssRendrer [hover]="'pink'"
[default]="'red'">      

<strong>Directive with renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!

</p>
<p appCssRendrer [hover]="'pink'"
[default]="'red'">      

<strong>Directive with renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!

</p>
<p appCssRendrer [hover]="'pink'"
[default]="'red'">      

<strong>Directive with renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!

</p>
<p appCssRendrer [hover]="'pink'"
[default]="'red'">      

<strong>Directive with renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!

</p>
<p appCssRendrer [hover]="'pink'"
[default]="'red'">      

<strong>Directive with renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!

</p>
<p appCssRendrer [hover]="'pink'"
[default]="'red'">      

<strong>Directive with renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!

</p>
<p appCssRendrer [hover]="'pink'"
[default]="'red'">      

<strong>Directive with renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!

</p>
<p appCssRendrer [hover]="'pink'"
[default]="'red'">      

<strong>Directive with renderer</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure tempora consequatur molestiae reiciendis a voluptates est recusandae labore laudantium!

</p>


       <button appToptoB class="scroll-to-top-button">Scroll to Top</button>

      <!-- <app-ngswitch></app-ngswitch> -->
      <!-- <app-tab2></app-tab2> -->
      <!-- <app-mobile1></app-mobile1> -->
       <!-- <app-mobile1></app-mobile1> -->
      <!-- <app-mobile></app-mobile> -->
      <!-- <app-posts></app-posts> -->
      <!-- <app-products></app-products> -->
      <!-- <app-std3></app-std3> -->
    <!-- <app-std1></app-std1> -->
      <!-- <app-todo></app-todo> -->
   <!-- <app-sfc></app-sfc> -->
       <!-- <app-products></app-products> -->
    <!-- <p *ngFor=" let skill of skills">
      I love {{skill}}
    </p>
    
    <ul class="list-group">
      <li class="list-group-item" *ngFor=" let  skill of skills">
        I have foollowing skills {{skill}}
      </li>
    </ul> -->

    <!-- <ul class="list-group">
      <li class="list-group-item" *ngFor="let skil1 of skil">
        I have foolowing {{skil1}}
      </li>
    </ul> -->

    <!-- <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>Product Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>availability</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of product; index as i">
          <td>{{i+1}}</td>
          <td>{{prod.name}}</td>
          <td>{{prod.price}}</td>
          <td>{{prod.category}}</td>
          <td>{{prod.avail}}</td>
        </tr>
        
      </tbody>
    </table> -->
    
    <!-- <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr.no</th>
          <th>Name</th>
          <th>Category</th>
          <th>price </th>
          <th>avail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of product2; index as i">
          <td>{{i+1}}</td>
          <td>{{pro.name}}</td>
          <td>{{pro.category}}</td>
          <td>{{pro.price}}</td>
          <td>{{pro.avail}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
 -->
