
<ul class="list-group" *ngIf="todosArr; else noTodos">
    <li class="list-group-item d-flex justify-content-between "  *ngFor="let todo of todosArr">
       <strong class="align-self-center">
        {{todo.todoItem}} 
       </strong>
        <p>
            <button mat-icon-button color="primary" >
                <mat-icon>edit</mat-icon>
            </button>
            <button
            (click)="onTodoRemove(todo.todoId)"
            mat-icon-button color="warn" >
                <mat-icon>delete</mat-icon>
              </button>
        </p>

    </li>
</ul>

<ng-template #noTodos>
    <p class="alert alert-primary">
        No Todos!!
    </p>
</ng-template>
