<div class="container mt-4">
  <div class="row">
    <!-- <div class="col-md-4 mb-4" *ngFor="let post of postsData">
     <app-post-card [postObj]="post"></app-post-card>
    </div> -->

    <!-- <div class="col-12" *ngFor="let mob of mobileData">
      <app-mobile-card [mobileD]="mob"></app-mobile-card>
      
    </div> -->

    <!-- <div class="col-6 mb-2" *ngFor="let posts of postsD">
      <app-posts1 [postsData]="posts"></app-posts1>
    </div> -->

    <!-- <div class="col-12" *ngFor="let mob of mobileD">
      <app-mob1 [mobs]="mob"></app-mob1>
    </div> -->

    <app-pipes></app-pipes>
  </div>
</div>