
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr.no</th>
                <th>Fname</th>
                <th>Lname</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr 
            [ngClass]="{
                'bg-secondary text-white':std.isActive ==='in-Active'
            }"
            *ngFor="let std of stdData let i = index">
                <td>{{i+1}}</td>
                <td>{{std.fname}}</td>
                <td>{{std.lname}}</td>
                <td>{{std.conatct}}</td>
                <td>{{std.email}}</td>
                <td>{{std.isActive === "Active" ? "Yes":"No"}}</td>
            </tr>
        </tbody>
    </table>
</div>
