<div class="row">
    <div class="col-md-4 mt-4 mb-4 md-0">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="fname">Fname</label>
                    <input #fname type="text" name="fname" id="fname" class="form-control">
                    <label for="lname">Lname</label>
                    <input #lname type="text" name="lname" id="lname" class="form-control">
                    <label for="email">Email</label>
                    <input #email type="email" name="email" id="email" class="form-control">
                    <label for="contact">Contact</label>
                    <input #contact type="text" name="contact" id="contact" class="form-control">
                </div>
                <button 
                (click)="onStd()"
                class="btn btn-primary btn-block btn-sm">Submit</button>
            </div>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="table-responsive">
            <div class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Sr.no</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Eamil</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ="let std of stdArr; index as i" >
                       <td>{{i+1}}</td>
                       <td>{{std.fname}}</td>
                       <td>{{std.lname}}</td>
                       <td>{{std.email}}</td>
                       <td>{{std.contact}}</td> 
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>