
<div class="row">
    <div class="col-md-6 mt-4">
       <div class="form-group">
        <input 
        #todo
        type="text" class="form-control">
       
       </div>
       <button 
       (click)="onAdd()"
       class="btn btn-primary btn-sm btn-block">Add Todo</button>
    </div>
    <div class="col-md-6 mt-4">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let to of todoArr">
                I have {{to}}
            </li>
        </ul>
    </div>
</div>
