<!-- 

<div class="form-group">
    <label for="serachProd">Search PRoducts</label>
    <input 
    (keyup)="onSearch($event)"
    type="text" class="form-control">
</div>

<p class="alert alert-warning">
    {{searched}}
</p>

<div class="form-group">
    <label for="cat">Category </label>
    <input 
    [(ngModel)] ="searched3"
    type="text" class="form-control">
</div>

<p class="alert alert-warning">
    {{searched3}}
</p>

<hr>

<div class="form-group">
    <label for="dog">Catg</label>
    <input 
    [(ngModel)]="god"
    type="text" class="form-control">
</div>

<p class="alert alert-warning">
    {{god}}
</p> -->


<!-- <div class="form-group">
    <label for="serachProd">Search PRoducts</label>
    <input 
    #search
    type="text" class="form-control">
</div> -->

<!-- event binding with elemRef -->

<!-- <button
(click)="onGet(search)" 
class="btn btn-info my-3">Find </button> -->

<!-- 
<div class="form-group">
    <label for="prod">PROD</label>
    <input
    #prod 
    type="text" class="form-control">
</div>

<button 
(click)="Prod(prod)"
class="btn btn-primary">FInd</button> -->

<!-- <hr>

<div class="form-group">
    <label for="prod">PROD</label>
    <input
    #prod1 
    type="text" class="form-control">
</div> -->

 <!-- event binding with ViewChildDeco -->
<!-- <button 
(click)="Prod1()"
class="btn btn-primary">FInd</button>


<hr> -->

<!-- <div class="form-group">
    <label for="prod">PROD</label>
    <input
    #prod2
    type="text" class="form-control">
</div>

<button 
(click)="Prod2()"
class="btn btn-primary">FInd</button> -->

<!-- <app-product></app-product>
<app-product></app-product> -->
<!-- <app-product1></app-product1> -->
<!-- <app-product1></app-product1> -->
<!-- <p class="bg-primary text-white">This is primary Product</p> -->