<div class="row">
    <div class="col text-right">
        <button mat-raised-button color="primary" routerLink="/products/addProduct">Add Product</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        
<ul class="list-group">
    <li class="list-group-item" *ngFor="let prod of prodInfo" [routerLink]="prod.pid" [queryParams]="{canReturn:prod.canReturn}">
        {{prod.pname}}
    </li>
</ul>
    </div>
    <div class="col-md-4">
           <router-outlet></router-outlet> 
    </div>
</div>
